
@font-face {
    font-family:"icons";
        src: url("../font/icons.eot");
        src: url("../font/icons.eot?#iefix") format("embedded-opentype"),
		url("../font/icons.woff") format("woff"),
		url("../font/icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


[class*='icn-']:before, .icn:before {
    font-family: 'icons';
    font-style: normal;
}

/* Icons */

.icn-add-circle:before {
    content: "\f101";
}

.icn-add:before {
    content: "\f102";
}

.icn-arrow-down:before {
    content: "\f103";
}

.icn-arrow-left:before {
    content: "\f104";
}

.icn-arrow-right:before {
    content: "\f105";
}

.icn-arrow-up:before {
    content: "\f106";
}

.icn-clapperboard:before {
    content: "\f107";
}

.icn-close:before {
    content: "\f108";
}

.icn-done:before {
    content: "\f109";
}

.icn-drag:before {
    content: "\f10a";
}

.icn-edit:before {
    content: "\f10b";
}

.icn-expand:before {
    content: "\f10c";
}

.icn-facebook-circle:before {
    content: "\f10d";
}

.icn-facebook:before {
    content: "\f10e";
}

.icn-fast-backward:before {
    content: "\f10f";
}

.icn-fast-forward:before {
    content: "\f110";
}

.icn-flag:before {
    content: "\f111";
}

.icn-gamepad:before {
    content: "\f112";
}

.icn-gamer:before {
    content: "\f113";
}

.icn-gear:before {
    content: "\f114";
}

.icn-gender:before {
    content: "\f115";
}

.icn-headset:before {
    content: "\f116";
}

.icn-heart:before {
    content: "\f117";
}

.icn-help:before {
    content: "\f118";
}

.icn-horn:before {
    content: "\f119";
}

.icn-image:before {
    content: "\f11a";
}

.icn-instagram:before {
    content: "\f11b";
}

.icn-logo:before {
    content: "\f11c";
}

.icn-minimize:before {
    content: "\f11d";
}

.icn-more:before {
    content: "\f11e";
}

.icn-music:before {
    content: "\f11f";
}

.icn-next:before {
    content: "\f120";
}

.icn-pause:before {
    content: "\f121";
}

.icn-play:before {
    content: "\f122";
}

.icn-previous:before {
    content: "\f123";
}

.icn-rate:before {
    content: "\f124";
}

.icn-remove:before {
    content: "\f125";
}

.icn-rock:before {
    content: "\f126";
}

.icn-rocket:before {
    content: "\f127";
}

.icn-save:before {
    content: "\f128";
}

.icn-search:before {
    content: "\f129";
}

.icn-share:before {
    content: "\f12a";
}

.icn-splitplay:before {
    content: "\f12b";
}

.icn-stop:before {
    content: "\f12c";
}

.icn-tag:before {
    content: "\f12d";
}

.icn-team:before {
    content: "\f12e";
}

.icn-tv:before {
    content: "\f12f";
}

.icn-twitch:before {
    content: "\f130";
}

.icn-twitter-circle:before {
    content: "\f131";
}

.icn-twitter:before {
    content: "\f132";
}

.icn-view:before {
    content: "\f133";
}

.icn-volume-off:before {
    content: "\f134";
}

.icn-volume-on:before {
    content: "\f135";
}

.icn-youtube:before {
    content: "\f136";
}


