<div class="debug">
    <ul class="buttons">
        <li v-for="button in buttons" v-bind:class="{ 'active': button.state.isPressed}">
            \{{button.state.pin}}
        </li>
    </ul>
</div>

<ul class="album-list" hide="album.current !== null">
    <li v-for="current in album.list">
        <div class="album">
            <img src="\{{current.cover}}" />
            <div class="info">
                <h3>\{{current.albumartist}}</h3>
                <h4>\{{current.album}}</h4>
            </div>
        </div>
    </li>
</ul>
