<div class="debug">
    <ul class="buttons">
        <li v-for="button in buttons" v-bind:class="{ 'active': button.state.isPressed}">
            \{{button.state.pin}}
        </li>
    </ul>
</div>

<ul class="album-list">
    <li v-for="album in albums">
        <div class="album">
            <img src="\{{album.cover}}" />
            <div class="info">
                <h3>\{{album.artist}}</h3>
                <h4>\{{album.album}}</h4>
            </div>
        </div>
    </li>
</ul>
