/*@import 'settings';*/
@import 'base/settings';
@import 'base/reset';
@import 'base/general';
@import 'base/breakpoints';
@import 'base/grid';
$highlight: #3A391D;

h1 {
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: .9rem;
    text-align: center;
    opacity: 0.3;

    small {
        color: #fff;
        font-weight: 300;
        font-size: 0.9em;
    }

    strong {
        font-weight: 300;
        display: inline-block;
        padding: 0 2em;
    }

    .heart {
        position: relative;
        top: 3px;
        font-size: 1.8em;
        padding: 0 0 0 .1em;
        color: rgb(142, 18, 18);
    }
}

.debug {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #0e0e0e;
    padding: .55em;
    @extend %cf;
    .buttons {
        float: left;
        display: block;
        width: auto;
        padding: .2em .2em;
        border-radius: 2px;
        background: #fff;
        li {
            color: $color-footer;
            padding: .5em;
            font-size: 1.2em;
            border-radius: 2px;

            &.active {
                color: #fff;
                background-color: $color-green;
            }
        }

    }

    .volume {
        float: right;
        padding: .5em;
        font-size: 1.4em;
    }
}

.album-list {
    padding: 0 20px;

    li {
        width: 10%;
        padding: .3em 0;
        float: left;
        @extend %cf;

        &:nth-child(6n+1) {
            width: 17.8%;
            //background-color: green;
        }

        &:nth-child(6n+2) {
            width: 18%;
            //background-color:blue;
        }

        &:nth-child(6n+3) {
            width: 17.8%;
            //background-color:red;
        }

        &:nth-child(6n+4) {
            width: 18%;
            //background-color:yellow;
        }

        &:nth-child(6n+5) {
            width: 17.7%;
            //background-color:pink;
        }

        transition: background-color .5s;

        .album {
            height: 30px;
            overflow: hidden;
            display: block;
            box-sizing: border-box;
        }

        h2, h3, h4 {
            color: #908c8c;
        }

        h3 {
            display: block;
            padding-bottom: .2em;
        }

        h4 {
            font-weight: 300;
            font-size: 0.9em;
        }

        img {
            float: left;
            height: 100%;
            max-width: 20%;
            opacity: 0.4;
        }

        .info {
            font-weight: normal;
            float: left;
            padding-left: .8em;
            width: 80%;
        }
    }

    $rowGap: .4em;

    // active row a
    &.A {
        li:nth-child(n+1):nth-child(-n+6) {
            background-color: $highlight;
        }
    }

    &.B {
        li:nth-child(n+7):nth-child(-n+12) {
            background-color: $highlight;
        }
    }

    // 1-2
    li:nth-child(n+7):nth-child(-n+12) {
        margin-bottom: 6px;
    }

    // active row a
    &.C {
        li:nth-child(n+13):nth-child(-n+18) {
            background-color: $highlight;
        }
    }

    &.D {
        li:nth-child(n+19):nth-child(-n+24) {
            background-color: $highlight;
        }
    }

    // 3-4
    li:nth-child(n+19):nth-child(-n+24) {
        margin-bottom: 9px;
    }

    &.E {
        li:nth-child(n+25):nth-child(-n+30) {
            background-color: $highlight;
        }
    }

    &.F {
        li:nth-child(n+31):nth-child(-n+36) {
            background-color: $highlight;
        }
    }

    // 5-6
    li:nth-child(n+31):nth-child(-n+36) {
        margin-bottom: 8px;
    }

    &.G {
        li:nth-child(n+37):nth-child(-n+42) {
            background-color: $highlight;
        }
    }

    &.H {
        li:nth-child(n+43):nth-child(-n+48) {
            background-color: $highlight;
        }
    }

    // 7-8
    li:nth-child(n+43):nth-child(-n+48) {
        margin-bottom: 8px;
    }

    &.J {
        li:nth-child(n+49):nth-child(-n+54) {
            background-color: $highlight;
        }
    }

    &.K {
        li:nth-child(n+55):nth-child(-n+60) {
            background-color: $highlight;
        }
    }

    // 9-10
    li:nth-child(n+55):nth-child(-n+60) {
        margin-bottom: 8px;
    }

    &.L {
        li:nth-child(n+61):nth-child(-n+66) {
            background-color: $highlight;
        }
    }

    &.M {
        li:nth-child(n+67):nth-child(-n+72) {
            background-color: $highlight;
        }
    }

    // 11-12
    li:nth-child(n+67):nth-child(-n+72) {
        margin-bottom: 8px;
    }

    &.N {
        li:nth-child(n+73):nth-child(-n+78) {
            background-color: $highlight;
        }
    }

    &.P {
        li:nth-child(n+79):nth-child(-n+84) {
            background-color: $highlight;
        }
    }

    // 13-14
    li:nth-child(n+79):nth-child(-n+84) {
        margin-bottom: 10px;
    }

    &.Q {
        li:nth-child(n+85):nth-child(-n+90) {
            background-color: $highlight;
        }
    }

    &.R {
        li:nth-child(n+91):nth-child(-n+96) {
            background-color: $highlight;
        }
    }

    // 15-16
    li:nth-child(n+91):nth-child(-n+96) {
        margin-bottom: 10px;
    }

    &.S {
        li:nth-child(n+97):nth-child(-n+102) {
            background-color: $highlight;
        }
    }

    &.T {
        li:nth-child(n+103):nth-child(-n+108) {
            background-color: $highlight;
        }
    }

    // 17-18
    li:nth-child(n+103):nth-child(-n+108) {
        margin-bottom: 6px;
    }

    &.U {
        li:nth-child(n+109):nth-child(-n+114) {
            background-color: $highlight;
        }
    }

    &.V {
        li:nth-child(n+115):nth-child(-n+120) {
            background-color: $highlight;
        }
    }
}

.album-info {
    float: left;
    width: 19%;
    padding: 0 120px 0 25px;

    .back {
        font-size: 1.8em;
        padding-top: .6em;
        height: 40px;
        background-color: $highlight;
        display: block;
        margin-bottom: .4em;
    }

    img {
        opacity: 0.4;
        width: 100%;
        margin-bottom: 2em;
    }

    h3, h4, strong, .back {
        color: #908c8c;
        text-align: center;
        width: 100%;
    }

    h3 {
        font-size: 1.8em;
        padding-bottom: 1em;
    }

    h4 {
        font-size: 1.3em;
        font-weight: 300;
        padding-bottom: .4em;
    }

    strong {
        color: #e4dfdf;
        font-size: 1.1em;
        font-weight: 300;
    }
}

.album-track-list {
    float: left;
    width: 81%;
    li {

        padding: .3em 0;
        &.active {
            background-color: $highlight;
        }
        h3 {
            color: #908c8c;
            font-size: 1.3em;
            height: 30px;
            padding-top: .6em;
        }

        padding: .2em 0;
        float: left;
        width: 10%;

        &:nth-child(5n+1) {
            width: 21.3%;
            //background-color: green;
        }

        &:nth-child(5n+2) {
            width: 21.3%;
            //background-color: green;
        }

        &:nth-child(5n+3) {
            width: 22%;
            //background-color: green;
        }

        &:nth-child(5n+4) {
            width: 22%;
            //background-color: green;
        }

        &:nth-child(n+6):nth-child(-n+10) {
            margin-bottom: 6px;
        }
    }
}
