/*@import 'settings';*/
@import 'base/settings';
@import 'base/reset';
@import 'base/general';
@import 'base/breakpoints';
@import 'base/grid';

h1 {
    position: fixed;
    top: 190px;
    left: 0;
    width: 100%;
    font-size: .9rem;
    text-align: center;
    opacity: 0.3;

    small {
        color: #fff;
        font-weight: 300;
        font-size: 0.9em;
    }

    strong {
        font-weight: 300;
        display: inline-block;
        padding: 0 2em;
    }

    .heart {
        position: relative;
        top: 3px;
        font-size: 1.8em;
        padding: 0 0 0 .1em;
        color: rgb(142, 18, 18);
    }
}

.debug {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #0e0e0e;
    padding: .55em;
    @extend %cf;
    .buttons {
        float: left;
        display: block;
        width: auto;
        padding: .2em .2em;
        border-radius: 2px;
        background: #fff;
        li {
            color: $color-footer;
            padding: .5em;
            font-size: 1.2em;
            border-radius: 2px;

            &.active {
                color: #fff;
                background-color: $color-green;
            }
        }

    }

    .volume {
        float: right;
        padding: .5em;
        font-size: 1.4em;
    }
}

.album-list {
    li {
        padding: .3em 0;
        float: left;
        width: 16%;
        @extend %cf;

        transition: background-color .5s;

        .album {
            height: 30px;
            overflow: hidden;
            display: block;
            box-sizing: border-box;
        }

        h2, h3, h4 {
            color: #908c8c;
        }

        h3 {
            display: block;
            padding-bottom: .2em;
        }

        h4 {
            font-weight: 300;
            font-size: 0.9em;
        }

        img {
            float: left;
            height: 100%;
            max-width: 20%;
            opacity: 0.4;
        }

        .info {
            font-weight: normal;
            float: right;
            width: 80%;
        }
    }

    $highlight: #3A391D;
    $rowGap: .4em;

    // active row a
    &.A {
        li:nth-child(n+1):nth-child(-n+6) {
            background-color: $highlight;
        }
    }

    &.B {
        li:nth-child(n+7):nth-child(-n+12) {
            background-color: $highlight;
        }
    }

    // 1-2
    li:nth-child(n+7):nth-child(-n+12) {
        margin-bottom: $rowGap;
    }

    // active row a
    &.C {
        li:nth-child(n+13):nth-child(-n+18) {
            background-color: $highlight;
        }
    }

    &.D {
        li:nth-child(n+19):nth-child(-n+24) {
            background-color: $highlight;
        }
    }

    // 3-4
    li:nth-child(n+19):nth-child(-n+24) {
        margin-bottom: $rowGap;
    }

    &.E {
        li:nth-child(n+25):nth-child(-n+30) {
            background-color: $highlight;
        }
    }

    &.F {
        li:nth-child(n+31):nth-child(-n+36) {
            background-color: $highlight;
        }
    }

    // 5-6
    li:nth-child(n+31):nth-child(-n+36) {
        margin-bottom: $rowGap;
    }

    &.G {
        li:nth-child(n+37):nth-child(-n+42) {
            background-color: $highlight;
        }
    }

    &.H {
        li:nth-child(n+43):nth-child(-n+48) {
            background-color: $highlight;
        }
    }

    // 7-8
    li:nth-child(n+43):nth-child(-n+48) {
        margin-bottom: $rowGap;
    }

    &.J {
        li:nth-child(n+49):nth-child(-n+54) {
            background-color: $highlight;
        }
    }

    &.K {
        li:nth-child(n+55):nth-child(-n+60) {
            background-color: $highlight;
        }
    }

    // 9-10
    li:nth-child(n+55):nth-child(-n+60) {
        margin-bottom: $rowGap;
    }

    &.L {
        li:nth-child(n+61):nth-child(-n+66) {
            background-color: $highlight;
        }
    }

    &.M {
        li:nth-child(n+67):nth-child(-n+72) {
            background-color: $highlight;
        }
    }

    // 11-12
    li:nth-child(n+67):nth-child(-n+72) {
        margin-bottom: $rowGap;
    }

    &.N {
        li:nth-child(n+73):nth-child(-n+78) {
            background-color: $highlight;
        }
    }

    &.P {
        li:nth-child(n+79):nth-child(-n+84) {
            background-color: $highlight;
        }
    }

    // 13-14
    li:nth-child(n+79):nth-child(-n+84) {
        margin-bottom: $rowGap;
    }

    &.Q {
        li:nth-child(n+85):nth-child(-n+90) {
            background-color: $highlight;
        }
    }

    &.R {
        li:nth-child(n+91):nth-child(-n+96) {
            background-color: $highlight;
        }
    }

    // 15-16
    li:nth-child(n+91):nth-child(-n+96) {
        margin-bottom: $rowGap;
    }

    &.S {
        li:nth-child(n+97):nth-child(-n+102) {
            background-color: $highlight;
        }
    }

    &.T {
        li:nth-child(n+103):nth-child(-n+108) {
            background-color: $highlight;
        }
    }

    // 17-18
    li:nth-child(n+103):nth-child(-n+108) {
        margin-bottom: $rowGap;
    }

    &.U {
        li:nth-child(n+109):nth-child(-n+114) {
            background-color: $highlight;
        }
    }

    &.V {
        li:nth-child(n+115):nth-child(-n+120) {
            background-color: $highlight;
        }
    }
}

.album-info {
    float: left;
    width: 16.666666667%;

    img {
        width: 100%;
    }
}

.album-track-list {
    float: left;
    width: 83.333333333%;
    li {
        padding: .2em 0;
        float: left;
        width: 20%;
    }
}
